In [1]:
import copy

## No copy

In [2]:
original = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
copy_ = original

In [3]:
print(hex(id(original)))
print(hex(id(copy_)))

0x7f9ab5f7c5c0
0x7f9ab5f7c5c0

In [4]:
print("value \t\t id of orig \t\t id of copy")
for x, y in zip(original, copy_):
    print(f"{x}: \t {hex(id(x))} \t {hex(id(y))}")

value 		 id of orig 		 id of copy
[1, 2, 3]: 	 0x7f9acc3d4ec0 	 0x7f9acc3d4ec0
[4, 5, 6]: 	 0x7f9ab5f7d480 	 0x7f9ab5f7d480
[7, 8, 9]: 	 0x7f9acc300100 	 0x7f9acc300100

Changing `copy` changes `original`, because both point to the same object in memory.

In [5]:
copy_.append(5)

print(copy_)
print(original)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], 5]
[[1, 2, 3], [4, 5, 6], [7, 8, 9], 5]

## Deep Copy

In [174]:
original = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
copy_ = copy.deepcopy(original)

`original` and `copy_` point to different objects in memory.

In [175]:
print(hex(id(original)))
print(hex(id(copy_)))

0x7fb475aa6980
0x7fb475aa9e80

The elements of `original` are independent of elements of `copy_`. The lists do not share any common resource.

In [176]:
print("value \t\t id of orig \t\t id of copy")
for x, y in zip(original, copy_):
    print(f"{x}: \t {hex(id(x))} \t {hex(id(y))}")

value 		 id of orig 		 id of copy
[1, 2, 3]: 	 0x7fb475a43240 	 0x7fb475aa9c40
[4, 5, 6]: 	 0x7fb475a43280 	 0x7fb475ab2d80
[7, 8, 9]: 	 0x7fb475ab2980 	 0x7fb475a94040

## shallow copy

In [177]:
original = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
copy_ = copy.copy(original)

In a shallow copy, the collection object is copied, and so `original` and `copy_` point to different memory addresses.

In [178]:
print(hex(id(original)))
print(hex(id(copy_)))

0x7fb475ab2440
0x7fb475a43680

But in a shallow copy, the child objets of the `copy_` are just pointers to the child objects of `original`. In other words, the child objects are not really copied.

In [179]:
print("value \t\t id of orig \t\t id of copy")
for x, y in zip(original, copy_):
    print(f"{x}: \t {hex(id(x))} \t {hex(id(y))}")

value 		 id of orig 		 id of copy
[1, 2, 3]: 	 0x7fb475af62c0 	 0x7fb475af62c0
[4, 5, 6]: 	 0x7fb475a3e380 	 0x7fb475a3e380
[7, 8, 9]: 	 0x7fb475a434c0 	 0x7fb475a434c0

That leads to two things:

* appending a new element to `copy_` will not affect `original`. The new element is in `copy_` but not in `original`
* changing an element in `copy_` will change the same element in `original`, because the elements of `copy_` point to the elements of `original`.

In [180]:
copy_.append([10, 11, 12])
print(copy_)
print(original)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [181]:
copy_[0].pop()
print(copy_)
print(original)

[[1, 2], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
[[1, 2], [4, 5, 6], [7, 8, 9]]

## Exceptions

Binding two variables to the same `int` or `str` may result in the same memory address being used. That's a feature of Python to save resources. So despite creating a *deep copy*, the child objects of the original and the copy may still share the same memory address.

In [182]:
original = [1, 2, 3]
copy_ = copy.deepcopy(original)

In [183]:
print(hex(id(original)))
print(hex(id(copy_)))

0x7fb475ab2a40
0x7fb475a435c0

In [184]:
print("value \t id of orig \t id of copy")
for x, y in zip(original, copy_):
    print(f"{x}: \t {hex(id(x))} \t {hex(id(y))}")

value 	 id of orig 	 id of copy
1: 	 0x958e20 	 0x958e20
2: 	 0x958e40 	 0x958e40
3: 	 0x958e60 	 0x958e60

## copying in pandas

In [22]:
import pandas as pd

In [23]:
orig = pd.DataFrame({'column_A' : [1, 2, 3, 4]})
orig

   column_A
0         1
1         2
2         3
3         4

In [24]:
# this doesn't create a *deep* copy, hence can lead to unexpected behavior
not_a_safe_copy = orig
not_a_safe_copy

   column_A
0         1
1         2
2         3
3         4

In [25]:
# change column_A in "copied" dataframe
not_a_safe_copy['column_A'] = not_a_safe_copy['column_A'].map(lambda x: x**2)
not_a_safe_copy

   column_A
0         1
1         4
2         9
3        16

In [26]:
# but column_A in original is also changed!
orig

   column_A
0         1
1         4
2         9
3        16