## A left join of D1, D2  that has more rows than D1

It can happen that after a leftjoin of `left_df` and `right_df` the resulting dataframe has more rows than `left_df`. This occurs when the *id* occurs multiple times in the right df.

In [16]:
import pandas as pd 

left_df = pd.DataFrame({'id': [1, 2, 3], 'value': [10, 20, 30]})
right_df = pd.DataFrame({'id': [4, 5, 6], 'value': [40, 50, 60]})

pd.merge(left_df, right_df, on='id', how='left')

   id  value_x  value_y
0   1       10      NaN
1   2       20      NaN
2   3       30      NaN

In [17]:
left_df = pd.DataFrame({'id': [1, 2, 3], 'value': [10, 20, 30]})
right_df = pd.DataFrame({'id': [1, 2, 3], 'value': [40, 50, 60]})

pd.merge(left_df, right_df, on='id', how='left')

   id  value_x  value_y
0   1       10       40
1   2       20       50
2   3       30       60

In [18]:
left_df = pd.DataFrame({'id': [1, 2, 3], 'value': [10, 20, 30]})
right_df = pd.DataFrame({'id': [1, 1, 1], 'value': [40, 50, 60]})

pd.merge(left_df, right_df, on='id', how='left')

   id  value_x  value_y
0   1       10     40.0
1   1       10     50.0
2   1       10     60.0
3   2       20      NaN
4   3       30      NaN

In [19]:
left_df = pd.DataFrame({'id': [1, 2, 3], 'value': [10, 20, 30]})
right_df = pd.DataFrame({'id': [4, 5, 6], 'value': [40, 50, 60]})

pd.merge(left_df, right_df, on='id', how='left')

   id  value_x  value_y
0   1       10      NaN
1   2       20      NaN
2   3       30      NaN

### more complex example

In [28]:
left_df = pd.DataFrame({'id': [1, 2],  'join_col': ['a', 'b'], 'value': [10, 20]})
right_df = pd.DataFrame({'id': [4, 5, 6, 7], 'join_col': ['a', 'b', 'b', 'c'], 'value': [40, 50, 60, 70]})

pd.merge(left_df, right_df, on='join_col', how='left')

   id_x join_col  value_x  id_y  value_y
0     1        a       10     4       40
1     2        b       20     5       50
2     2        b       20     6       60